<h1>Cadastro de Produto</h1>
<form [formGroup]="produtoForm" >
    <label>Nome:
        <input class="form-control" formControlName="nome" type="text">
    </label>
    <br>
    <label>Descrição:
        <input class="form-control" formControlName="descricao" type="text">
    </label>
    <br>
    <label>Preço:
        <input class="form-control" formControlName="preco" type="number">
    </label>
    <br>
    <button (click)="salvar(produtoForm.value)" class="btn btn-success">Salvar</button>
</form>
