<!-- MEIO -->
<div class="row meio">

  <!-- MENU VERTICAL -->
  <div class="col-2 col-md-3 menu-vertical">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../produto']">
          <img src="assets/imagens/tokaji-vineria-icone-produtos.png" />
          <p>Produtos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../categoria']">
          <img src="assets/imagens/tokaji-vineria-icone-categorias.png" />
          <p>Categorias</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../nacionalidade']">
          <img src="assets/imagens/tokaji-vineria-icone-nacionalidades.png" />
          <p>Nacionalidades</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../harmonizacao']">
          <img src="assets/imagens/tokaji-vineria-icone-harmonizacoes.png" />
          <p>Harmonizações</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../fornecedor']">
          <img src="assets/imagens/tokaji-vineria-icone-fornecedores.png" />
          <p>Fornecedores</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../funcionario']">
          <img src="assets/imagens/tokaji-vineria-icone-funcionarios.png" />
          <p>Funcionários</p>
        </a>
      </li>
    </ul>

  </div>

  <!-- CONTEUDO -->
  <div class="col-10 col-md-9">
    <div class="container-adm">
      <h1>Lista de Harmonizações</h1>
      <!-- start: page -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Operações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Massas</td>
            <td>
              <a href="#">Alterar</a> |
              <a href="#">Excluir</a>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>Carnes Vermelhas</td>
            <td>
              <a href="#">Alterar</a> |
              <a href="#">Excluir</a>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>Peixes</td>
            <td>
              <a href="#">Alterar</a> |
              <a href="#">Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-primary" [routerLink]="['../novahar']">Adicionar Harmonização</a>
      <!-- end: page -->
    </div>
  </div>
</div>
