<!-- MEIO -->
<div class="row meio">
  <!-- MENU VERTICAL -->
  <!--
    <div class="col-2 col-md-3 menu-vertical">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../produto']">
            <img src="assets/imagens/tokaji-vineria-icone-produtos.png" />
            <p>Produtos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../categoria']">
            <img src="assets/imagens/tokaji-vineria-icone-categorias.png" />
            <p>Categorias</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../nacionalidade']">
            <img src="assets/imagens/tokaji-vineria-icone-nacionalidades.png" />
            <p>Nacionalidades</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../harmonizacao']">
            <img src="assets/imagens/tokaji-vineria-icone-harmonizacoes.png" />
            <p>Harmonizações</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../fornecedor']">
            <img src="assets/imagens/tokaji-vineria-icone-fornecedores.png" />
            <p>Fornecedores</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../funcionario']">
            <img src="assets/imagens/tokaji-vineria-icone-funcionarios.png" />
            <p>Funcionários</p>
          </a>
        </li>
      </ul>
    </div>
  -->
  <div class="col-2 col-md-3 p-0"><app-menuVertical></app-menuVertical></div>

  <!-- CONTEUDO -->
  <div class="col-10 col-md-9">
    <div class="container-adm">
      <h1>Lista de Categorias</h1>
      <!-- start: page -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Operações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias">
            <th>{{ categoria.id }}</th>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.preco }}</td>
            <td>
              <a [routerLink]="['/categoria/alterar', categoria.id]">Alterar</a>
              |
              <a [routerLink]="['categoria']" (click)="excluir(categoria.id)"
                >Excluir</a
              >
            </td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-primary" [routerLink]="['/categoria/novo']"
        >Adicionar Categoria</a
      >
      <!-- end: page -->
    </div>
  </div>
</div>
