<div class="row meio">
  <!-- MENU VERTICAL -->
  <div class="col-2 col-md-3 menu-vertical">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../produto']">
          <img src="assets/imagens/tokaji-vineria-icone-produtos.png" />
          <p>Produtos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../categoria']">
          <img src="assets/imagens/tokaji-vineria-icone-categorias.png" />
          <p>Categorias</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../nacionalidade']">
          <img src="assets/imagens/tokaji-vineria-icone-nacionalidades.png" />
          <p>Nacionalidades</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../harmonizacao']">
          <img src="assets/imagens/tokaji-vineria-icone-harmonizacoes.png" />
          <p>Harmonizações</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../fornecedor']">
          <img src="assets/imagens/tokaji-vineria-icone-fornecedores.png" />
          <p>Fornecedores</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../funcionario']">
          <img src="assets/imagens/tokaji-vineria-icone-funcionarios.png" />
          <p>Funcionários</p>
        </a>
      </li>
    </ul>
  </div>

  <!-- CONTEUDO -->
  <div class="col-10 col-md-9">
    <div class="container-adm">
      <h1>Cadastro de Nacionalidade</h1>
      <form [formGroup]="nacionalidadeForm" novalidate>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome da Nacionalidade"
            formControlName="nome"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          (click)="salvar(nacionalidadeForm.value)"
        >
          Salvar
        </button>
        <button [routerLink]="['/nacionalidade']" class="btn btn-primary">
          Voltar
        </button>
      </form>
    </div>
  </div>
</div>
