<div class="carrinho-widget">
  <img src="assets/imagens/tokaji-vineria-icone-carrinho.png" />
  <span class="title">
    <div tabindex="0" class="onclick-menu">
      <div class="onclick-menu-content">
        <carrinho-mini></carrinho-mini>
        <div class="link-carrinho">
          <a [routerLink]="['../carrinho']"
            ><h5>
              <i class="fas fa-shopping-cart"></i> Ir para o carrinho!
            </h5></a
          >
        </div>
      </div>
    </div>
  </span>
  <span class="badge badge-pill badge-danger">{{
    carrinhoService.qtdTotalCarrinho()
  }}</span>
</div>
