<div class="container">
  <!-- TOPO -->
  <!--
    <div class="row topo">
      <div class="col-12 col-md-5">
        <img
          class="logo"
          src="assets/imagens/tokavi-vineria-logo-invertida.png"
        />
      </div>
      <div class="col-12 col-md-7">
        <div class="row menu-icone">
          <div class="col-2 offset-md-6">
            <div>
              <a [routerLink]="['areaadministrativa']">
                <img src="assets/imagens/tokaji-vineria-icone-conta.png" />
              </a>
              <span> <a [routerLink]="['areaadministrativa']">Conta</a> </span>
            </div>
          </div>
          <div class="col-2">
            <div>
              <a [routerLink]="['favoritos']">
                <img src="assets/imagens/tokaji-vineria-icone-meus-vinhos.png" />
              </a>
              <span> <a [routerLink]="['favoritos']">Meus Vinhos</a> </span>
            </div>
          </div>
          <div class="col-2"><carrinho-widget></carrinho-widget></div>
        </div>
      </div>
    </div>
  -->
  <app-topo></app-topo>

  <!-- MENU HORIZONTAL -->
  <!--
    <div class="row menu-horizontal">
      <div class="col-12">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['emconstrucao']">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['emconstrucao']">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['emconstrucao']">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  -->
  <app-menuHorizontal></app-menuHorizontal>

  <!-- MEIO -->
  <div class="row meio">
    <!-- MENU VERTICAL -->

    <!-- CONTEUDO -->
    <div class="col-12">
      <!-- start: page -->
      <router-outlet></router-outlet>
      <!-- end: page -->
    </div>
  </div>

  <!-- RODAPE -->
  <div class="row footer">
    <div class="col rodape">
      <p>{{ title }} &#174; Direitos Reservados</p>
    </div>
  </div>
</div>
