<div class="container">
  <div class="row slide">
    <img class="s-large" src="assets/imagens/vinho-apothic-slide-1.jpg">
    <img class="s-medium" src="assets/imagens/vinho-apothic-slide-1-medium.jpg">
    <img class="s-small" src="assets/imagens/vinho-apothic-slide-1-small.jpg">
    <img class="s-mobile" src="assets/imagens/vinho-apothic-slide-1-mobile.jpg">
  </div>
  <div class="row product-list-wimage">
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 single-product">
      <img src="https://www.wine.com.br/renderImage.image?imageName=produtos/16989-01.png">
      <h5>Espumante JP Extra Brut</h5>
      <div class="row price-box">
        <div class="col-5">
          <p>R$62,50</p>
        </div>
        <div class="col-7">
          <p>
            <a>Comprar</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row banner-animado">
    <div class="col-5">
      <img src="assets/imagens/tokaji-vineria-vinho-animado.gif">
    </div>
    <div class="col-7" style="background-color: #dcdcdc;">

    </div>
  </div>-->
</div>
