<div class="container top">
  <h1>Seus Vinhos Favoritos</h1>
  <div class="container">
    <div class="row" *ngIf="itensFavorito; else: ElseBlock">
      <div class="col-12">
        <div>
          <div
            class="box-carrinho"
            *ngFor="let itemFavorito of itensFavorito; let i = index"
          >
            <div class="row">
              <div
                class="col-2 imagem-produto text-center lign-self-center p-1"
              >
                <img
                  src="http://localhost:4200/assets/imagens/vinhos/tokaji-vineria-espumante-jp-extra-brut.png"
                />
              </div>
              <div class="col-2 align-self-center">
                <p class="nome-produto">{{ itemFavorito.produto.nome }}</p>
                <p class="sobre-produto">
                  Vinho {{ itemFavorito.produto.categoria.nome }}
                  {{ itemFavorito.produto.nacionalidade.nome }}
                </p>
              </div>
              <div class="col-3 align-self-center text-center">
                <!-- aumentar diminuir e quantidade -->
                <div class="flex justify-content-center">
                  <p class="">{{ itemFavorito.produto.descricao }}</p>
                </div>
              </div>
              <div class="col-2 align-self-center text-center">
                <p class="font-weight-bold">
                  R$ {{ itemFavorito.produto.preco.toFixed(2) }}
                </p>

                <!-- descricao -->
              </div>
              <div class="col-3 align-self-center text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #ElseBlock>
    <br /><br />
    <h4>Você ainda não tem vinhos favoritos!</h4>
  </ng-template>
</div>
