<div class="container top">
  <h1>Seu Carrinho</h1>
  <div class="container">
    <div class="row" *ngIf="itensCarrinho; else: ElseBlock">
      <div class="col-12">
        <div>
          <div
            class="box-carrinho"
            *ngFor="let itemCarrinho of itensCarrinho; let i = index"
          >
            <div class="row">
              <div
                class="col-3 imagem-produto text-center lign-self-center p-1"
              >
                <img
                  src="http://localhost:4200/assets/imagens/vinhos/tokaji-vineria-espumante-jp-extra-brut.png"
                />
              </div>
              <div class="col-5 align-self-center">
                <p class="nome-produto">{{ itemCarrinho.produto.nome }}</p>
                <p class="quantidade-widget">
                  Quantidade: {{ itemCarrinho.quantidade }}
                </p>
              </div>

              <div class="col-4 align-self-center text-center">
                <p class="font-weight-bold">
                  R$
                  {{
                    (
                      itemCarrinho.produto.preco * itemCarrinho.quantidade
                    ).toFixed(2)
                  }}
                </p>

                <!-- descricao -->
              </div>
            </div>
          </div>
          <h5 class="text-right">
            Total dos produtos: R$ {{ valorTotalCarrinho().toFixed(2) }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <ng-template #ElseBlock>
    <br /><br />
    <h4>Seu carrinho está vazio aproveite os nossos produtos!</h4>
  </ng-template>
</div>
