.container.top {
  padding: 0;
}

img {
  width: 35px;
}

p,
a {
  margin: 0;
  line-height: 14px;
}

button,
a {
  padding: 0;
}

.box-carrinho {
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.carrinho-qtd {
  margin-right: 10px;
}

.lh0 {
  line-height: 0;
}

h1 {
  font-size: 1rem;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

h5,
h4 {
  font-size: 1rem;
}

.nome-produto {
  font-weight: bold;
  font-size: 0.9rem;
}

.sobre-produto {
  font-size: 0.8rem;
}
